    #container {
      width: 100%;
      overflow-x: auto;
      white-space: nowrap;
    }

    svg {
      overflow: visible;
    }

    path.line {
      fill: none;
      stroke: blue;
      stroke-width: 2;
    }
	table{
		border: 1px solid gray;
		cell-spacing: 0px;
	}
	
	table td{
		text-align: center;
	}
	
	table thead{
		background-color: cornsilk;
	}
